<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS - dateselector</title>
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>

<body ng-controller="AppCtrl">

  <div class="container">
    {{birthday}}
    <form role="form" action="formDateSubmit" method="post" accept-charset="utf-8">
      <label for="birthday1">Input Your Birthday</label>
      <input ng-model="birthday">
      <input dateselector
        id="birthday1"
        type="text"
        ng-model="birthday"
        max-date="'2015-09-07'"
        min-date="'1983-09-07'"
        format="'Y/m/d'">
    </form>
  </div>



  <!-- Scripts -->
  <script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../bower_components/momentjs/moment.js"></script>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../angular-dateselector.js"></script>
  <script type="text/javascript" src="demo.js"></script>

</body>
</html>